@model PersonalV2.Controllers.GameTestController


<div class="Book container">
    <section id="000">
        Your name is Sam! Today is your 11th birthday and your parents are waiting for you in the dining room.
        <br />
        Are they muggle or magical?
        <br />
        <a href="#001">Muggle</a> || <a href="#002">Magical</a>      
        </section>
    <!--MUGGLE-->
    <section id="001">
        The dining room was decorated with a large banner that read "Happy 11th Birthday, Sam!"<br />
         A large chocolate cake sat on the table where your parents were collected, looking very confused,
         which might have something to do with the owl perched on a dining room chair.<br />
        In one of its claws is a letter addressed to you from... Hogwarts?
        <br />
        <br />
        At first your parents thought it was some obscure private school, but after reading the letter, 
        you all laughed as though it were some sort of joke. 
        <br />
        However, you and your parents each thought of a time when something... not quite right happened around you.
        <br />
        Like when your parents swore you levitated as a toddler so you could pet a Great Dane.
        <br />
        Or when your school's bully's backpack ripped open as though it were sliced after he tormented you, but no one was near it.
        <br />
        Could it be true?
        <br />
        Looking at the directions to Diagon Alley, 
        your parents decided they were planning on going to that side of town later that week, anyway, <br />
        so why not go so you all can put that silly letter out of your heads.
        <br />
        <br />
        A pleasant looking woman in bright purple and yellow robes noticed your family attempting to puzzle out the entrance 
        to what could not at all be a secret magical shopping district. 
        <br />
        She was apparently used to confused muggle families, and offered not only to help you through, but to also be your guide.
        <br />
        Your parents, finally accepting that this was indeed reality, agreed.
        <br />
        But no amount of acceptance prepared you all for the sites and wonders of Diagon Alley, 
        appearing before you as bricks shuffled away to create a gateway.
        <br />
        "First, Gringotts," the witch advised. "It's a bank and can exchange your muggle money for our money."
        <br />
        Unable to do much beyond stare, you and your parents happily followed the witch toward a large, 
        almost foreboding looking structure on the far end of the street.
        <br />
        <br />
        You and your parents did your best to not stare as the creature, who the witch (Penny) said was a goblin, 
        exchanged a few hundred dollar bills for a bag full of shiny gold coins (galleons). 
        <br />
        The goblin also gave you each a small piece of parchment that listed how many knuts to sickles and so on.
        <br />
        Then the five of you gathered around the list of school supplies and tackled them in order from least to most exciting.
        <br />
        After spending what seemed like hours in the book store and almost as much in the potions shop, 
        and only eight galleons left, all that's left on the list are a pet and a wand.
        <br />
        Where do you want to go to first?
        <br />
        <a href="~/GameTest/MugglePet1">Pet</a> || <a href="~/GameTest/MuggleWand1">Wand</a> 
        <br />
        <a href="#000">Restart</a>
    </section>


    <section class="intro">
        <a href="#000">Start</a>
    </section>
</div>