
<div class="Book">
    <section id="000">
  <a href="#001">Left</a> OR <a href="#002">Right</a>
    </section>
    <section id="001">        
     <div class="glyphicon glyphicon-warning-sign"></div>  You died!<br />

        <a href="#000">Restart</a>         
    </section>
    <section id="002">
        Good choice
        <a href="#003">Up</a> OR <a href="#004">Down</a>
        <a href="#000">Restart</a>    
    </section>
    <section id="003">
        Does this mean you're going upstairs, or flying through the sky?
        <a href="#005">Stairs</a> || <a href="#006">Flying</a>
        <a href="#000">Restart</a>    
    </section>
    <section id="004">
        You died!
        <a href="#000">Restart</a>    
    </section>
    <section id="005">
        That's boring.
        <a href="#000">Restart</a>    
    </section>
    <section id="006">
        Do you shapeshift into a creature that can fly or can you fly as a human?
        <a href="#007">Shapeshift</a> || <a href="#008">Human</a>
        <a href="#000">Restart</a>    
    </section>
    <!--SHAPESHIFT-->
    
        <section id="007">
            Are you a mythical or real creature?
            <a href="#009">Mythical</a> || <a href="#010">Real</a>
            <a href="#000">Restart</a>    
        </section>
        <section id="009">
            What kind?
            <a href="#999">Dragon</a> OR <a href="#999">Griffin</a>
            <a href="#000">Restart</a>    
        </section>
  
    <!--HUMAN-->
    
        <section id="008">
            Do you have or grow wings, or do you just fly on your own?
            <a href="#011">Wings</a> || <a href="#012">On my own</a>
            <a href="#000">Restart</a>    
        </section>
        <section id="011">
            <a href="#999">Beautiful</a>
            <a href="#000">Restart</a>    
        </section>
        <section id="012">
            <a href="#999">Like Superman</a>
            <a href="#000">Restart</a>    
        </section>
    <section id="999">
        Temporary End
        <a href="#000">Restart</a>
    </section>

    <section class="intro">
        <a href="#000">Start</a>
    </section>
    
</div>