
@{
    ViewBag.Title = "Links";
}
<div class="container">
    <div class="  col-md-6">
        <div class="row">
            <h2 class="wow fadeInUp" data-wow-duration="2s">Links to Classmates</h2>
            <ul>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://merletech.net/"target="_blank"><strong>Merle Mapes</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://lgcoding.com"target="_blank"><strong>Luis A. Garvic</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://jarodminkoff.com"target="_blank"><strong>Jarod Minkoff</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://codeforhart.com"target="_blank"><strong>Brian Hart</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://codezippy.net"target="_blank"><strong>Shenandoah Vickrey</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://abcoded.net"target="_blank"><strong>Andrew Bell</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://jlynncodes.com"target="_blank"><strong>Jami Deghand</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://codefromthesole.com"target="_blank"><strong>Brian Sole</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://kevthedev.net"target="_blank"><strong>Kevin Starkey</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://thecodegym.com"target="_blank"><strong>Nathan Geranis</strong></a>
                </li>
                <li class=" wow fadeInDown"data-wow-duration="3s">
                    <a href="http://austindev.net"target="_blank"><strong>Austin Hammell</strong></a>
                </li>
            </ul>
        </div>
    </div>

    <div >
        <div class="row">
            <h2 class=" wow fadeInUp" data-wow-duration="3s">Personal Links</h2>
            <ul>
                <li class="fadeInDown"data-wow-duration="4s">
                    <span class="icon-user-follow"> </span> <a href="https://www.linkedin.com/in/jacquelinemcclanahan/"target="_blank"><strong>LinkedIn</strong></a>
                </li>
                <li class="fadeInDown"data-wow-duration="4s">
                    <span class="icon-social-twitter"> </span><a href="https://twitter.com/SADragonTweets"><strong>Twitter</strong></a>
                </li>
                <li class="fadeInDown"data-wow-duration="4s">
                   <span class="icon-directions"> </span> <a href="https://github.com/jnmccla"target="_blank">GitHub</a>
                </li>
                <li class="fadeInDown"data-wow-duration="4s">
                   <span class="icon-magnet"> </span> <a href="https://connect.unity.com/u/59850d4c0909150024ff4c94"target="_blank">Unity Connect</a>
                </li>
                <li class="fadeInDown"data-wow-duration="4s">
                   <span class="icon-pencil"> </span> <a href="https://www.redbubble.com/people/jaxyacks/collections/724408-digital-art?asc=u"target="_blank">Redbubble</a>
                </li>
                <li class="fadeInDown"data-wow-duration="4s">
                  <span class="icon-playlist"> </span>  <a href="https://soundcloud.com/sociallyanxiousdragon"target="_blank">SoundCloud</a>
                </li>

            </ul>
        </div>
    </div>
</div>